<div class="overview-page">

	<% if merchant_user_signed_in? %>

			<!-- WRAPPER -->
			<div id="wrapper">
				<!-- MAIN -->
				<div class="main" style="padding-top: 0px;">
					<!-- MAIN CONTENT -->
					<div class="main-content">
					<div style="padding-top: 20px;"></div>
						<div class="container-fluid">
							<!-- TOP METRICS -->
							<div class="row">
								<div class="col-md-3">
									<div class="widget widget-metric_1 purple-background">
										<span class="icon-wrapper"><i class="fa fa-users" style="font-size: 30px;"></i></span>
										<div class="right">
											<span class="value white-text"><%= @merchant_users.count %></span>
											<span class="title white-text">EMPLOYEES</span>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="widget widget-metric_1 green-background">
										<span class="icon-wrapper"><i class="fa fa-users" style="font-size: 30px;"></i></span>
										<div class="right">
											<span class="value white-text"><%= @merchant.customers.count %></span>
											<span class="title white-text">CUSTOMERS</span>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="widget widget-metric_1 red-background">
										<span class="icon-wrapper"><i class="fa fa-commenting" style="font-size: 30px;"></i></span>
										<div class="right">
											<span class="value white-text"><%= @merchant.messages.count %></span>
											<span class="title white-text">SENT MESSAGES</span>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="widget widget-metric_1 orange-background">
										<span class="icon-wrapper"><i class="fa fa-list" style="font-size: 30px;"></i></span>
										<div class="right">
											<span class="value white-text"><%= @merchant.templates.count %></span>
											<span class="title white-text">TEMPLATES</span>
										</div>
									</div>
								</div>
							</div>
							<!-- END TOP METRICS -->
							<div class="row" id="grid">
							<% if Permissions::MerchantUserP.new(current_user).show? %>
								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading purple-background">
											<h3 class="panel-title white-text">Employees</h3>
											<p class="pull-right" id="employees-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="employees">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Name</th>
																<th>Email</th>
																<th>Phone Number</th>
															</tr>
														</thead>
														<tbody>
														<% @merchant_users.first(10).each do |merchant_user| %>
															<tr>
																<td><%= merchant_user.name %></td>
																<td><%= merchant_user.email %></td>
																<td><%= merchant_user.phone_number %></td>
															</tr>
														<% end -%>
														</tbody>
													</table>
													
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All", merchant_users_path, class: 'btn btn-primary' %></div>
									</div>
								</div>
							<% end -%>
								<!-- END MERCHANT USERS -->

							<% if Permissions::Customer.new(current_user).show? %>
								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading green-background">
											<h3 class="panel-title white-text">Customers</h3>
											<p class="pull-right" id="customers-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="customers">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Name</th>
																<th class="hidden-xs">Email</th>
																<th>Phone Number</th>
																<th class="hidden-xs">Receives Msgs</th>
																<th>Messages Received</th>
															</tr>
														</thead>
														<tbody>
														<% @merchant.customers.first(10).each do |customer| %>
															<tr>
																<td><%= customer.name %></td>
																<td class="hidden-xs"><%= customer.email %></td>
																<td><%= customer.phone_number %></td>
																<td class="hidden-xs"><% if customer.permission_to_text == true %>Yes<% else %>No<% end -%></td>
																<td><%= customer.customer_messages.count %></td>
															</tr>
														<% end -%>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All", merchant_customers_path(@merchant), class: 'btn btn-primary' %></div>
									</div>
								</div>
							<% end -%>
								<!-- END CUSTOMERS -->

							<% if Permissions::Message.new(current_user).show? %>
								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading red-background">
											<h3 class="panel-title white-text">Messages Sent</h3>
											<p class="pull-right" id="messages-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="messages">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Message</th>
																<th><span class="pull-right">Sent</span></th>
															</tr>
														</thead>
														<tbody>
														<% @merchant.messages.first(10).each do |message| %>
															<tr>
																<td><%= message.body %></td>
																<td><span class="pull-right"><%= message.created_at.strftime("%m/%d/%Y") %> - <%= message.created_at.strftime("%I:%M %p") %></span></td>
															</tr>
														<% end -%>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All", merchant_messages_path(@merchant), class: 'btn btn-primary' %></div>
									</div>
								</div>
							<% end -%>
								<!-- END MESSAGES SENT -->

							<% if Permissions::Template.new(current_user).show? %>
								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading orange-background">
											<h3 class="panel-title white-text">Templates</h3>
											<p class="pull-right" id="templates-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="templates">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Message</th>
																<th>Created By</th>
																<th>Last Updated By</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
														<% @merchant.templates.first(10).each do |template| %>
															<tr>
																<td><%= template.body %></td>
																<td><%= MerchantUser.find_by_id(template.created_by).name %></td>
																<td><%= MerchantUser.find_by_id(template.last_updated_by).name %></td>
																<td>
																	<%= link_to "Publish", new_merchant_message_path(@merchant, template: template), class: 'btn btn-primary btn-sm pull-right', style: 'margin: 0px; margin-left: 5px;', data: {confirm: 'Are You Sure?'} %>
																
																</td>
															</tr>
														<% end -%>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All", merchant_templates_path(@merchant), class: 'btn btn-primary' %></div>
									</div>
								</div>
							<% end -%>
								<!-- END TEMPLATES -->

							<% if Permissions::MerchantRole.new(current_user).show? %>
								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading gold-background">
											<h3 class="panel-title white-text">Roles</h3>
											<p class="pull-right" id="roles-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="roles">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Name</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
														<% @merchant.merchant_roles.first(10).each do |merchant_role| %>
															<tr>
																<td><%= merchant_role.name %></td>
																<td>
																	<%= link_to "Edit", merchant_role_path(merchant_role), class: 'btn btn-primary btn-sm pull-right', style: 'margin: 0px;' %>
																
																</td>
															</tr>
														<% end -%>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All", merchant_roles_path, class: 'btn btn-primary' %></div>
									</div>
								</div>
							<% end -%>
								<!-- END MERCHANT ROLES -->
							</div>

					<!-- END MAIN CONTENT -->
				</div>
				<!-- END MAIN -->
				<div class="clearfix"></div>

	<% elsif company_user_signed_in? %>

		<!-- WRAPPER -->
			<div id="wrapper">
				<!-- MAIN -->
				<div class="main" style="padding-top: 0px;">
					<!-- MAIN CONTENT -->
					<div class="main-content">
						<div style="padding-top: 20px;"></div>
						<div class="container-fluid">
							<!-- TOP METRICS -->
							<div class="row">
								<div class="col-md-4">
									<div class="widget widget-metric_1 blue-background">
										<span class="icon-wrapper"><i style="font-size: 30px;" class="fa fa-users"></i></span>
										<div class="right">
											<span class="value white-text"><%= @company_users.count %></span>
											<span class="title white-text">EMPLOYEES</span>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="widget widget-metric_1 green-background">
										<span class="icon-wrapper"><i style="font-size: 30px;" class="fa fa-users"></i></span>
										<div class="right">
											<span class="value white-text"><%= @merchants.count %></span>
											<span class="title white-text">MERCHANTS</span>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="widget widget-metric_1 red-background">
										<span class="icon-wrapper"><i style="font-size: 30px;" class="fa fa-commenting"></i></span>
										<div class="right">
											<span class="value white-text"><%= @merchant_billing_plans.count %></span>
											<span class="title white-text">MERCHANT PLANS</span>
										</div>
									</div>
								</div>
							</div>
							<!-- END TOP METRICS -->
							<div class="row">
								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading blue-background">
											<h3 class="panel-title white-text">Employees</h3>
											<p class="pull-right" id="employees-company-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="employees-company">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Name</th>
																<th>Email</th>
																<th>Phone Number</th>
															</tr>
														</thead>
														<tbody>
														<% @company_users.first(10).each do |company_user| %>
															<tr>
																<td><%= company_user.name %></td>
																<td><%= company_user.email %></td>
																<td><%= company_user.phone_number %></td>
															</tr>
														<% end -%>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All", company_users_path, class: 'btn btn-primary' %></div>
									</div>
								</div>
								<!-- END MERCHANT USERS -->

								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading green-background">
											<h3 class="panel-title white-text">Merchants</h3>
											<p class="pull-right" id="merchants-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="merchants">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Name</th>
																<th>Phone Number</th>
															</tr>
														</thead>
														<tbody>
														<% @merchants.first(10).each do |merchant| %>
															<tr>
																<td><%= merchant.name %></td>
																<td><%= merchant.phone_number %></td>
															</tr>
														<% end -%>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All",  company_merchant_billing_plans_show_all_merchants_path(@company), class: 'btn btn-primary' %></div>
									</div>
								</div>
							</div>
								<!-- END CUSTOMERS -->

							<div class="row">
								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading red-background">
											<h3 class="panel-title white-text">Merchant Plans</h3>
											<p class="pull-right" id="merchant-plans-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="merchant-plans">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Name</th>
															</tr>
														</thead>
														<tbody>
														<% @merchant_billing_plans.first(10).each do |merchant_billing_plan| %>
															<tr>
																<td><%= merchant_billing_plan.name %></td>
															</tr>
														<% end -%>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All", company_merchant_billing_plans_path(@company), class: 'btn btn-primary' %></div>
									</div>
								</div>
								<!-- END MESSAGES SENT -->

								<div class="col-lg-6 sortable-item">
									<div class="panel">
										<div class="panel-heading orange-background">
											<h3 class="panel-title white-text">Roles</h3>
											<p class="pull-right" id="company-roles-toggle"><i class="fa fa-arrow-down" aria-hidden="true"></i></p>
										</div>
										<div class="panel-body" id="company-roles">
											<div class="row">
												<div class="col-md-12">
													<table class="table table-minimal table-chat-support datatable">
														<thead>
															<tr>
																<th>Name</th>
																<th></th>
															</tr>
														</thead>
														<tbody>
														<% @company.company_roles.first(10).each do |company_role| %>
															<tr>
																<td><%= company_role.name %></td>
																<td>
																	<%= link_to "Edit", edit_company_role_path(company_role), class: 'btn btn-primary btn-sm pull-right', style: 'margin: 0px;' %>
																
																</td>
															</tr>
														<% end -%>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="panel-footer"><%= link_to "View All", company_roles_path, class: 'btn btn-primary' %></div>
									</div>
								</div>
								<!-- END COMPANY ROLES -->

						
							</div>

					<!-- END MAIN CONTENT -->
				</div>
				<!-- END MAIN -->
				<div class="clearfix"></div>
	<% else %>

	<% end -%>

		<footer>
					<div class="container-fluid">
						<p class="copyright">&copy; 2017 Text Marketing Reseller, LLC. All Rights Reserved.</p>
					</div>
				</footer>

			</div>
			<!-- END WRAPPER -->
			<!-- Javascript -->
</div>


<script type="text/javascript">
	$('#employees-toggle').click(function() {
		if ($('#employees').hasClass('slide-up')) {
			$('#employees').toggleClass('slide-down');
		} else {
			$('#employees').toggleClass('slide-up');
		};

		if ($('#employees-toggle').html() == '<i class="fa fa-arrow-down" aria-hidden="true"></i>') {
			$('#employees-toggle').html('<i class="fa fa-arrow-up" aria-hidden="true"></i>')
		} else {
			$('#employees-toggle').html('<i class="fa fa-arrow-down" aria-hidden="true"></i>')
		};
	});

	$('#customers-toggle').click(function() {
		if ($('#customers').hasClass('slide-up')) {
			$('#customers').toggleClass('slide-down');
		} else {
			$('#customers').toggleClass('slide-up');
		};

		if ($('#customers-toggle').html() == '<i class="fa fa-arrow-down" aria-hidden="true"></i>') {
			$('#customers-toggle').html('<i class="fa fa-arrow-up" aria-hidden="true"></i>')
		} else {
			$('#customers-toggle').html('<i class="fa fa-arrow-down" aria-hidden="true"></i>')
		};
	});

	$('#messages-toggle').click(function() {
		if ($('#messages').hasClass('slide-up')) {
			$('#messages').toggleClass('slide-down');
		} else {
			$('#messages').toggleClass('slide-up');
		};

		if ($('#messages-toggle').html() == '<i class="fa fa-arrow-down" aria-hidden="true"></i>') {
			$('#messages-toggle').html('<i class="fa fa-arrow-up" aria-hidden="true"></i>')
		} else {
			$('#messages-toggle').html('<i class="fa fa-arrow-down" aria-hidden="true"></i>')
		};
	});

	$('#templates-toggle').click(function() {
		if ($('#templates').hasClass('slide-up')) {
			$('#templates').toggleClass('slide-down');
		} else {
			$('#templates').toggleClass('slide-up');
		};

		if ($('#templates-toggle').html() == '<i class="fa fa-arrow-down" aria-hidden="true"></i>') {
			$('#templates-toggle').html('<i class="fa fa-arrow-up" aria-hidden="true"></i>')
		} else {
			$('#templates-toggle').html('<i class="fa fa-arrow-down" aria-hidden="true"></i>')
		};
	});

	$('#employees-company-toggle').click(function() {
		if ($('#employees-company').hasClass('slide-up')) {
			$('#employees-company').toggleClass('slide-down');
		} else {
			$('#employees-company').toggleClass('slide-up');
		};

		if ($('#employees-company-toggle').html() == '<i class="fa fa-arrow-down" aria-hidden="true"></i>') {
			$('#employees-company-toggle').html('<i class="fa fa-arrow-up" aria-hidden="true"></i>')
		} else {
			$('#employees-company-toggle').html('<i class="fa fa-arrow-down" aria-hidden="true"></i>')
		};
	});

	$('#merchants-toggle').click(function() {
		if ($('#merchants').hasClass('slide-up')) {
			$('#merchants').toggleClass('slide-down');
		} else {
			$('#merchants').toggleClass('slide-up');
		};

		if ($('#merchants-toggle').html() == '<i class="fa fa-arrow-down" aria-hidden="true"></i>') {
			$('#merchants-toggle').html('<i class="fa fa-arrow-up" aria-hidden="true"></i>')
		} else {
			$('#merchants-toggle').html('<i class="fa fa-arrow-down" aria-hidden="true"></i>')
		};
	});

	$('#merchant-plans-toggle').click(function() {
		if ($('#merchant-plans').hasClass('slide-up')) {
			$('#merchant-plans').toggleClass('slide-down');
		} else {
			$('#merchant-plans').toggleClass('slide-up');
		};

		if ($('#merchant-plans-toggle').html() == '<i class="fa fa-arrow-down" aria-hidden="true"></i>') {
			$('#merchant-plans-toggle').html('<i class="fa fa-arrow-up" aria-hidden="true"></i>')
		} else {
			$('#merchant-plans-toggle').html('<i class="fa fa-arrow-down" aria-hidden="true"></i>')
		};
	});

	$('#roles-toggle').click(function() {
		if ($('#roles').hasClass('slide-up')) {
			$('#roles').toggleClass('slide-down');
		} else {
			$('#roles').toggleClass('slide-up');
		};

		if ($('#roles-toggle').html() == '<i class="fa fa-arrow-down" aria-hidden="true"></i>') {
			$('#roles-toggle').html('<i class="fa fa-arrow-up" aria-hidden="true"></i>')
		} else {
			$('#roles-toggle').html('<i class="fa fa-arrow-down" aria-hidden="true"></i>')
		};
	});
</script>