<div style="padding-top: 20px;"></div>
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="well">
    <h2 class="text-center">New Message</h2>
    <%= form_for([@merchant, @message]) do |form| %>

      <%= form.hidden_field :merchant_id, value: @merchant.id %>
      <div class="field">
        <%= form.text_area :body, class: 'text-box', placeholder: 'Body', maxlength: '160', required: true %>
      </div>

      <% if @template == true %>
        <div class="actions">
          <%= form.submit "Publish", class: 'btn btn-primary' %>
        </div>
      <% else %>
        <div class="actions">
          <div class="col-xs-6" style="padding: 5px; padding-left: 0px;"> <%= form.submit "Publish", class: 'btn btn-primary', style: 'width: 100%;' %></div>
          <div class="col-xs-6" style="padding: 5px; padding-right: 0px;"><%= form.button :submit, name: "save_as_template", value: true, class: 'btn btn-primary', style: 'width: 100%;' do %>Save As Template<% end -%></div>
          <div class="clearfix"></div>
        </div>
      <% end -%>
    <% end %>
  </div>
</div>


