<%= form_with(model: merchant_permission, local: true) do |form| %>
  <% if merchant_permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(merchant_permission.errors.count, "error") %> prohibited this merchant_permission from being saved:</h2>

      <ul>
      <% merchant_permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :merchant_permission_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
