<%= form_with(model: merchant_role, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'text-box' %>
  </div>

  <p style="font-size: 13px; margin-bottom: 0px;"><i>*You Will Be Able To Add Permissions To This Role When You Edit It</i></p>

  <div class="actions">
    <div class="col-xs-6" style="padding: 5px; padding-left: 0px;"> <%= form.submit "Save", class: 'btn btn-primary' %></div>
    <div class="col-xs-6" style="padding: 5px; padding-right: 0px;"><%= link_to 'Back', merchant_roles_path, class: 'btn btn-primary', style: 'width: 100%;' %></div>
    <div class="clearfix"></div>

  </div>
<% end %>
