<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant_role.name %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @merchant_role.merchant_id %>
</p>

<h3>Permissions This Role Has</h3>

  <% @merchant_permissions.each do |mp| %>
    <% if MerchantRolePermission.find_by_merchant_role_id_and_merchant_permission_id(@merchant_role.id, mp.id).present? %>
		<%= form_tag(merchant_roles_remove_permission_path(merchant_role_id: @merchant_role.id, merchant_permission_id: mp.id), method: :post) do %>
			<p class="green">
				<%= mp.name %>
				<%= submit_tag "Remove Permission", data: { confirm: 'Are you sure?' } %>
			</p>
		<% end -%>
	<% else %>
		<%= form_tag(merchant_roles_add_permission_path(merchant_role_id: @merchant_role.id, merchant_permission_id: mp.id), method: :post) do %>
			<p class="red">
				<%= mp.name %>
				<%= submit_tag "Add Permission", data: { confirm: 'Are you sure?' } %>
			</p>
		<% end -%>
	<% end -%>
<% end -%><br>

<%= link_to 'Edit', edit_merchant_role_path(@merchant_role) %> |
<%= link_to 'Back', merchant_roles_path %>
