<h1>Edit Template</h1>
<%= form_for([@merchant, @template]) do |form| %>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :last_updated_by, value: current_merchant_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
