<p id="notice"><%= notice %></p>

<h1>Company Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_roles.each do |company_role| %>
      <tr>
        <td><%= company_role.name %></td>
        <td><%= company_role.company_id %></td>
        <td><%= link_to 'Show', company_role %></td>
        <td><%= link_to 'Edit', edit_company_role_path(company_role) %></td>
        <td><%= link_to 'Destroy', company_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @role_permission_names.include?("Create Company Roles") %>
  <%= link_to 'New Company Role', new_company_role_path(company: @company) %>
<% end -%>