<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @customer.phone_number %>
</p>


<%= link_to 'Edit', edit_merchant_customer_path(@merchant, @customer) %> |
<%= link_to 'Back', merchant_customers_path(@merchant) %>
