<p id="notice"><%= notice %></p>

<p>
  <strong>Subdomain:</strong>
  <%= @company.subdomain %>
</p>

<hr>
<p>Merchants</p>
<% @company.service_types.each do |service_type| %>
	<%= service_type.name %><br>
	<% service_type.merchant_billing_plans.each do |mbp| %>
		<%= mbp.name %>
	<% end -%>
<% end -%>
<hr>

<p>Roles:</p><hr>
<% @company.company_roles.each do |role| %>
	<p><%= link_to role.name, company_role_path(role) %></p>
	<ul>
		<% role.company_users.each do |user| %>
			<li><%= link_to user.name, edit_company_user_path(user) %>
				<% if @role_permission_names.include?("Cancel Company Users") || current_admin.present? %>
					<%= button_to "Cancel", company_users_destroy_company_user_path(company_user: user, company: @company), data: { confirm: "Are you sure?" }, method: :delete %>
				<% end -%>
			</li>
		<% end -%>
	</ul>
<% end -%>

<% if @role_permission_names.include?("Invite Company Users") || current_admin.present? %>
	<%= link_to "Invite Company User", company_users_new_company_user_path(company: @company) %><br>
<% end -%>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
