<div style="padding-top: 20px;"></div>
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="well">
		<h1 class="text-center">Invite Merchant User</h1>

		<%= form_tag(merchant_users_create_merchant_user_path(), method: :post) do %>

			<%= label_tag :name %><br>
			<%= text_field_tag :name, "", class: 'text-box' %><br>

			<%= label_tag :email %><br>
			<%= text_field_tag :email, "", class: 'text-box' %><br>

			<%= label_tag :phone_number %><br>
			<%= text_field_tag :phone_number, "", class: 'text-box' %><br>

			<%= label_tag "Role" %><br>
			<%= collection_select(:merchant_user, :merchant_role_id, @merchant_roles.all, :id, :name, html_options: {class: 'text-box', style: 'margin: 0px;'}) %><br>

			<%= submit_tag "Invite", class: 'btn btn-primary', style: 'width: 100%;' %>

		<% end -%>
	</div>
</div>