<h1>Edit Company User</h1>

<%= form_for @company_user do |f| %>

	<%= f.label :name %><br>
	<%= f.text_field :name %><br><br>

	<%= f.label :email %><br>
	<%= f.text_field :email %><br><br>

	<%= f.label :phone_number %><br>
	<%= f.text_field :phone_number %><br><br>

	<%= collection_select(:company_user, :company_role_id, @company_roles.all, :id, :name) %><br><br>

	<%= f.submit "Update" %>

<% end -%>