<!DOCTYPE html>
<html>
  <head>
    <title>Text Marketing Resellers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <script src="https://unpkg.com/vue"></script>

    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">
  </head>

  <body class="">

  	<header>
			<div class="navbar">
				
				<div class="navbar-header">
					<div class="container">
						
						<ul class="info pull-left">
							<li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
							<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
						</ul><!-- /.info -->
						
						<ul class="social pull-right">
							<li><a href="#"><i class="icon-s-facebook"></i></a></li>
							<li><a href="#"><i class="icon-s-gplus"></i></a></li>
							<li><a href="#"><i class="icon-s-twitter"></i></a></li>
							<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
							<li><a href="#"><i class="icon-s-behance"></i></a></li>
							<li><a href="#"><i class="icon-s-dribbble"></i></a></li>
						</ul><!-- /.social -->
						
						<!-- ============================================================= LOGO MOBILE ============================================================= -->
						
						<%= link_to root_path, class: 'navbar-brand' do %>
							<%= image_tag "tmr-logo.png", class: 'logo', style: '' %>
						<% end -%>
						
						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->
						
						<a class="navbar-toggle btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
						
					</div><!-- /.container -->
				</div><!-- /.navbar-header -->
				
				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">
							
							<!-- ============================================================= LOGO ============================================================= -->
							
							<%= link_to root_path, class: 'navbar-brand' do %>
								<%= image_tag "tmr-logo.png", class: 'logo', style: 'height: 60px;' %>
							<% end -%>
							
							<!-- ============================================================= LOGO : END ============================================================= -->
							
							
							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->
							
							<ul class="nav navbar-nav">
								
								<% if admin_signed_in? || company_user_signed_in? || merchant_user_signed_in? %>
									<li class=""><%= link_to "Dashboard", dashboard_overview_path %></li>
								<% end -%>

								<% if merchant_user_signed_in? %>
									<li class=""><%= link_to "Employees", merchant_users_path %></li>
									<li><%= link_to "Customers", merchant_customers_path(@merchant) %></li>
									<li><%= link_to "Sent Messages", merchant_messages_path(@merchant) %></li>
									<li><%= link_to "Templates", merchant_templates_path(@merchant) %></li>
									<li><%= link_to "Roles", merchant_roles_path %></li>
								<% end -%>
							
								
								<li class="dropdown pull-right visible-md visible-lg">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
									
									<ul class="dropdown-menu">
										<% if merchant_user_signed_in? %>
											<li><a>Welcome, <br><%= current_merchant_user.name %></a></li>
											<li><%= link_to "Account", edit_merchant_user_registration_path %></li>
											<li><%= link_to "Sign Out", destroy_merchant_user_session_path, :method => :delete %></li>
										<% elsif company_user_signed_in? %>
										<li><a>Welcome, <br><%= current_company_user.name %></a></li>
											<li><%= link_to "Account", edit_company_user_registration_path %></li>
											<li><%= link_to "Sign Out", destroy_company_user_session_path, :method => :delete %></li>
										<% elsif admin_signed_in? %>
											<li><%= link_to "Companies", companies_path %></li>
											<li><%= link_to "Company Plans", company_plans_path %></li>
											<li><%= link_to "Sign Out", destroy_admin_session_path, :method => :delete %></li>
										<% else %>
											<li><%= link_to "Company Login", company_user_session_path %></li>
											<li><%= link_to "Merchant Login", merchant_user_session_path %></li>
										<% end -%>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.searchbox -->

								<li class="dropdown visible-xs visible-sm">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
									
									<ul class="dropdown-menu">
										<% if merchant_user_signed_in? %>
											<li><a>Welcome, <%= current_merchant_user.name %></a></li>
											<li><%= link_to "Account Settings", edit_merchant_user_registration_path %></li>
											<li><%= link_to "Sign Out", destroy_merchant_user_session_path, :method => :delete %></li>
										<% elsif company_user_signed_in? %>
											<li><%= link_to "Account Settings", edit_company_user_registration_path %></li>
											<li><%= link_to "Sign Out", destroy_company_user_session_path, :method => :delete %></li>
										<% elsif admin_signed_in? %>
											<li><%= link_to "Companies", companies_path %></li>
											<li><%= link_to "Company Plans", company_plans_path %></li>
											<li><%= link_to "Sign Out", destroy_admin_session_path, :method => :delete %></li>
										<% else %>
											<li><%= link_to "Company Login", company_user_session_path %></li>
											<li><%= link_to "Merchant Login", merchant_user_session_path %></li>
										<% end -%>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.searchbox -->
								
							</ul><!-- /.nav -->
							
							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
							
						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>

  <% if flash[:notice] %>
          <div class="">
              <div class="alert alert-info alert-message flyover">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </a>
                  <strong><%= flash[:notice] %></strong>
              </div>
          </div>
          <% end %>

  		<%= yield %>
  </body>

  <script>
	$('.alert-message').toggleClass('in');
  $(".alert-message").fadeTo(5000, 500).slideUp(1000, function () {
      $(".alert-message").alert('close');
  });
</script>

</html>
